:root {
	/*
	--color-brand-accent-400: #7FD6FF;
	--color-primary: #519dd9;
	--color-primary-accent: #52bfff;
	--color-primary-text: #00a3fc;

	--color-headline: #006699;
	--color-subheading: #2c76bc;

	--color-txt-blue-light: #1e75ba;
	--color-txt-blue-dark: #064d83;

	--color-txt-grey1: #696969;
	--color-text-dark: #1D1D1F;

	--color-button-active: #7ed7f6;
	--color-button-inactive: #61b0e2;

	--btn-green: #1fff27;
	--btn-grey: #aeaeae;

	--color-active: #8dc63f;
	--color-in-memoriam: #9c867a;
	--color-private: #bf1e2e;
	--color-retired: #662d91;

	--color-input-active: #27db27;
	--color-input-error: #f2663a;
	--color-input-empty: grey;
	--color-input-filled: #3b3a3a;

	--color-warning: red;
	--color-good: #16d019;

	--color-heading-grey: grey;
  */

	/*------- START ROB styles -------*/

	/* Font Family */
	--font-family: 'Inter', 'Libre Franklin', 'Helvetica Neue', Arial,
		sans-serif;
	--font-size-base: 18px;

	/* Text colors */
	--text-white: #ffffffff;
	--text-default: #425466;
	--text-light: #a4a4a9;
	--text-medium: #616165;
	--text-dark: #0a2540;
	--text-light-on-dark: var(--text-white);
	--text-link: #0066cc;
	--text-highlight: var(--text-link);
	--text-error: #e22718;

	--nav-color: var(--text-dark);
	--nav-hover-color: var(--nav-color);
	--nav-hover-opactiy: 0.6;

	--surface-pale: #f0f5fa;
	--surface-gradient-basic: linear-gradient(#054896, #0db2fa);
	--surface-gradient-dark: linear-gradient(#0d1836, #0d1836, #044f86);

	--card-shadow-xsmall: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
		0 1px 3px -1px rgba(0, 0, 0, 0.3);
	--card-shadow-small: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
		0 3px 7px -3px rgba(0, 0, 0, 0.3);
	--card-shadow-medium: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
		0 8px 16px -8px rgba(0, 0, 0, 0.3);
	--card-shadow-large: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
		0 18px 36px -18px rgba(0, 0, 0, 0.3);
	--card-shadow-xlarge: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
		0 30px 60px -30px rgba(0, 0, 0, 0.3);
	--card-shadow-large-inset: inset 0 30px 60px -12px rgba(50, 50, 93, 0.25),
		inset 0 18px 36px -18px rgba(0, 0, 0, 0.3);

	--brand-primary-200: #cddaea;
	--brand-primary-400: #82a3cb;
	--brand-primary-500: #054896;
	--brand-primary-primary-old: #0e53a0;
	--brand-primary-highlight: #0066cc;

	--brand-primary-dark-blue: #054986;
	--brand-accent-200: #c4edff;
	--brand-accent-400: #7fd6ff;
	--brand-accent-500: #0db2fa;
	--brand-teal-200: #ccf5f5;
	--brand-teal-400: #80e6e6;
	--brand-teal-500: #00cccc;

	/* Button on hover, focus ring */
	--color-btn: var(--text-link);
	--color-btn-on: #2a95f3;
	/* todo: get correct color */

	--button-form-button: var(--text-link);
	--button-form-hover: #0077ed;
	--button-form-press: #0262d5;

	/* Overlay/Scrim */
	--surface-light-overlay: #c1c9d2;

	--surface-light-link-bg-10: var(--text-link);

	--surface-light-white-50: var(--text-white);

	--surface-light-pale-on-light-bg: #1d1d1d;
	--surface-light-light-bg-on-dark: #1d1d1d;

	--surface-light-transparent: var(--text-white);
	--surface-light-white: var(--text-white);
	--surface-light-pale: #f6f9fc;
	--surface-light-light: #d2d2d7;
	--surface-light-medium: #616165;

	/* Dark backgrounds */
	--surface-dark: #1d1d1d;

	/* Buttons, Icon buttons */
	--surface-light-states-hover: #1d1d1d;

	/* Surfaces */
	--surface-light-states-press: #1d1d1d;
	--surface-dark-primary-200: #d7e9ff;
	--surface-dark-primary-400: #a1cbff;
	--surface-dark-primary-500: #78b4fe;
	--surface-dark-hover: #1d1d1d;
	--surface-dark-press: #1d1d1d;

	/* Neutral colors */
	--neutral-50: #fbfbfd;
	--neutral-100: #f5f5f7;
	--neutral-200: #d2d2d7;
	--neutral-300: #a4a4a9;
	--neutral-400: #838388;
	--neutral-500: #616165;
	--neutral-600: #4a4a4c;
	--neutral-700: #2f2f31;
	--neutral-800: #202022;

	/* Alerts */
	--alert-info-200: #dbebff;
	--alert-info-400: #82b6fa;
	--alert-info-500: #1350a0;
	--alert-warning-200: #faf0cc;
	--alert-warning-400: #f7dc83;
	--alert-warning-500: #f1c118;
	--alert-positive-200: #d5edcb;
	--alert-positive-400: #7fcc62;
	--alert-positive-500: #54ab31;
	--alert-negative-200: #f9d4d1;
	--alert-negative-400: #f1938c;
	--alert-negative-500: #e22718;

	/* Secondary colors */
	--secondary-purple-200: #e2d3e8;
	--secondary-purple-400: #b692c7;
	--secondary-purple-500: #6c248e;
	--secondary-magenta-200: #efcfe8;
	--secondary-magenta-400: #d888c6;
	--secondary-magenta-500: #b0118d;
	--secondary-hot-pink-200: #fdd9ee;
	--secondary-hot-pink-400: #f680c6;
	--secondary-hot-pink-500: #ed008c;
	--secondary-orange-200: #f4ceb3;
	--secondary-orange-400: #f39a5b;
	--secondary-orange-500: #f17218;
	--secondary-mustard-200: #fcf3d1;
	--secondary-mustard-400: #f8e08c;
	--secondary-mustard-500: #f1c118;

	/* Gradients */
	--gradient-sds-1: linear-gradient(
		to bottom,
		#00ad8f 0%,
		#00ace1 33.33%,
		#008fcc 66.67%,
		#2c3795 100%
	);
	--gradient-sds-2: linear-gradient(to bottom, #2c3795 0%, #ed008c 100%);
	--gradient-sds-3: linear-gradient(to bottom, #ed008c 10%, #2e368f 90%);
	--gradient-sds-4: linear-gradient(
		to bottom,
		#2b3894 10%,
		#008fcc 40%,
		#00abe0 60%,
		#00ad8f 90%
	);
	--gradient-basic: linear-gradient(to bottom, #054896 0%, #0db2fa 100%);
	--gradient-brand: linear-gradient(
		to bottom,
		#00ac8f 0%,
		#7be7f9 23.55%,
		#004eff 37.92%,
		#07338e 51.97%,
		#0c1f3c 100%
	);
	--gradient-hero: linear-gradient(
		to bottom,
		#054896 38%,
		#2c3795 53%,
		#ed008c 78%,
		#0db2fa 100%

	);

	/* angled-ribbon */
	--gradientAngle: -12deg;

	/* Grid row gap sizes */
	--row-gap-xsmall: 16px;
	--row-gap-small: 24px;
	--row-gap-normal: 32px;
	--row-gap-medium: 48px;
	--row-gap-large: 64px;

	/* Borders */
	--border-white: var(--text-white);
	--border-light: #d2d2d7;
	--border-default: #a4a4a9;
	--border-hover: #4a4a4c;
	--border-dark: #202022;

	--color-bg: var(--text-white);
	--max-width: 1080px; /*1280px;*/

	/* height of header + footer */
	--height-fixed: 350px;
}

:root {
	--rt-base: 18px;
	--rt-overline: 13px;
	--rt-xsmall: 14px;
	--rt-small: 15px;
	--rt-medium: var(--rt-base);
	--rt-large: 24px;
	--rt-xlarge: 34px;

	--rt-display: 94px !important;
	--rt-display-lineHeight: 97.76px !important;
	--rt-display-letterSpacing: -3.76px !important;

	--rt-h1: 56px !important;
	--rt-h1-lineHeight: 68px !important;
	--rt-h1-letterSpacing: -2.12px !important;

	--rt-h2: 38px; /*48px;*/
	--rt-h3: 24px; /*32px;*/
	--rt-h4: var(--rt-medium);
	--rt-h5: 15px;
}

@media (max-width: 768px) {
	:root {
		--rt-display: 50px !important;
		--rt-display-lineHeight: 52px !important;
		--rt-display-letterSpacing: -2px !important;
		--rt-h1: 48px !important;
		--rt-h1-lineHeight: 56px !important;
		--rt-h1-letterSpacing: -1.1px !important;
		--rt-h2: 34px;
		--rt-h3: 24px;
	}
}

html,
body {
	font-family: var(--font-family);
	font-size: var(--font-size-base);
}

.text-white {
	color: var(--text-white);
}
.text-secondary {
	color: var(--brand-accent-200);
}
.text-highlight {
	color: var(--brand-accent-500);
}
.txt-box-side.theme-dark {
	border-color: var(--brand-accent-500);
}
.text-accent-200 {
	color: var(--brand-accent-200) !important;
}

.headings-display {
	font-size: 80px;
	font-family: var(--font-family);
	font-weight: 700;
	font-style: normal;
	line-height: 84px;
	letter-spacing: -2px;
	text-decoration: none;
	text-transform: none;
}

.headings-headline {
	font-size: var(--rt-display); /*4rem;*/
	font-family: var(--font-family);
	font-weight: 700;
	font-style: normal;
	line-height: var(--rt-display-lineHeight); /*76px;*/
	letter-spacing: var(--rt-display-letterSpacing); /*-1px;*/
	text-decoration: none;
	text-transform: none;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-family);
	font-style: normal;
	text-decoration: none;
	text-transform: none;
	color: var(--text-dark);
}
h1.copy-title,
h2.copy-title,
h3.copy-title,
h4.copy-title {
	color: var(--text-highlight);
}

h1 {
	font-size: var(--rt-h1);
	font-weight: 700;
	line-height: var(--rt-h1-lineHeight);
	letter-spacing: var(--rt-h1-letterSpacing);
}

/* Title */
h2 {
	font-size: var(--rt-h2);
	font-weight: 700;
	line-height: 48px;
	letter-spacing: -0.2px;
}

/* Title */
h3 {
	font-size: var(--rt-h3);
	font-weight: 700;
	line-height: 36px;
}

/* Title */
h4 {
	font-size: var(--rt-medium);
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
}

h5 {
	font-size: var(--rt-h5);
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
}

.heading-color-default {
	font-weight: 500;
	color: var(--text-default);
}

/* Body text */
p,
span,
.body-standard-regular {
	font-size: var(--rt-medium);
	font-family: var(--font-family);
	font-weight: 400;
	font-style: normal;
	line-height: 28px;
	letter-spacing: 0.2px;
	color: var(--text-default);
	text-decoration: none;
	text-transform: none;
}

.text-bold {
	font-weight: bold !important;
}

.body-standard-bold {
	font-size: var(--rt-medium);
	font-family: var(--font-family);
	font-weight: 700;
	font-style: normal;
	line-height: 28px;
	letter-spacing: 0.2px;
	text-decoration: none;
	text-transform: none;
}

.body-standard-text-link {
	font-size: var(--rt-h5);
	font-family: var(--font-family);
	font-weight: 600;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.2px;
	text-decoration: none;
	text-transform: none;
}
a.text-link {
	text-decoration: underline;
}

.body-small-regular {
	font-size: var(--rt-h5);
	font-family: var(--font-family);
	font-weight: 500;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.2px;
	text-decoration: none;
	text-transform: none;
}

.body-small-bold {
	font-size: var(--rt-h5);
	font-family: var(--font-family);
	font-weight: 700;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.2px;
	text-decoration: none;
	text-transform: none;
}

.captions-caption-regular {
	font-size: 0.778rem;
	font-family: var(--font-family);
	font-weight: 400;
	font-style: normal;
	line-height: 18px;
	letter-spacing: -0.2px;
	text-decoration: none;
	text-transform: none;
}

.captions-caption-medium {
	font-size: 0.778rem;
	font-family: var(--font-family);
	font-weight: 500;
	font-style: normal;
	line-height: 18px;
	letter-spacing: -0.2px;
	text-decoration: none;
	text-transform: none;
}

.captions-caption-bold {
	font-size: 0.778rem;
	font-family: var(--font-family);
	font-weight: 700;
	font-style: normal;
	line-height: 18px;
	letter-spacing: -0.2px;
	text-decoration: none;
	text-transform: none;
}

.captions-caption-small {
	font-size: 0.667rem;
	font-family: var(--font-family);
	font-weight: 700;
	font-style: normal;
	line-height: 18px;
	letter-spacing: 0.2px;
	text-decoration: none;
	text-transform: uppercase;
}

.captions-hint-error-text {
	font-size: 0.667rem;
	font-family: var(--font-family);
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}

.captions-overline {
	font-size: 0.778rem;
	font-family: var(--font-family);
	font-weight: 900;
	font-style: normal;
	line-height: 18px;
	letter-spacing: 0.75px;
	text-decoration: none;
	text-transform: uppercase;
}

.logo {
	margin-top: -10px;
}

button.site-header-nav-item--link {
	background: none;
}
button.site-header-nav-item--link.v-btn:before {
	background: none;
}
button > .v-btn__content,
span > .v-btn__content {
	font-size: 15px;
	font-weight: bold;
	line-height: 1.6;
	letter-spacing: 0.2px;
	color: var(--text-white);
}
button.site-header-nav-item--link > .v-btn__content {
	color: var(--text-dark);
}

button > .nav-bar-btn {
	background-color: transparent !important;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.6;
	letter-spacing: 0.2px;
	color: var(--text-white);
}

.standard-button-label {
	font-size: var(--rt-h5);
	font-family: var(--font-family);
	font-weight: 600;
	font-style: normal;
	line-height: 24px;
	color: var(--text-white);
	letter-spacing: 0.2px;
	text-decoration: none;
	text-transform: none;
}

.overlay-blur {
	backdrop-filter: blur(25px);
}

.borders-inner-shadow-top-border {
	box-shadow: inset 0px 1px 0px #151b25;
}

.borders-inner-shadow-bottom-border {
	box-shadow: inset 0px -1px 0px #151b25;
}

.borders-inner-shadow-top-bottom-border {
	box-shadow:
		inset 0px 1px 0px #151b25,
		inset 0px -1px 0px #151b25;
}

.borders-inner-shadow-left-border {
	box-shadow: inset 1px 0px 0px #151b25;
}

.borders-inner-shadow-right-border {
	box-shadow: inset -1px 0px 0px #151b25;
}

.borders-inner-shadow-left-right-border {
	box-shadow:
		inset 1px 0px 0px #151b25,
		inset -1px 0px 0px #151b25;
}

.focus-ring-focus-ring-inner {
	box-shadow: 0px 0px 0px 6px var(--text-white);
}

.focus-ring-focus-ring-outer {
	box-shadow: 0px 0px 0px 2px #0077ed;
}

.focus-ring-list-item-focus-primary {
	box-shadow: inset 0px 0px 0px 4px #006cfa;
}

.focus-ring-ghost {
	box-shadow: 0px 0px 0px 2px var(--text-white);
}

.focus-ring-input-focus {
	box-shadow: 0px 0px 0px 2px var(--text-white);
}

.focus-ring-steppr {
	box-shadow: 0px 0px 0px 2px #1350a0;
}

.elevations-text-drop-shadow {
	box-shadow: 0px 1px 4px #1d1d1d;
}

.elevations-basic-elevation-00-0-dp {
	box-shadow: 0px 0px 0px #151b25;
}

.elevations-basic-elevation-01-1-dp {
	box-shadow: 0px 1px 3px #151b25;
}

.elevations-basic-elevation-02-2-dp {
	box-shadow: 0px 2px 5px #151b25;
}

.elevations-basic-elevation-03-4-dp {
	box-shadow: 0px 2px 7px 1px #151b25;
}

.elevations-basic-elevation-04-8-dp {
	box-shadow: 0px 3px 12px #151b25;
}

.elevations-basic-elevation-05-16-dp {
	box-shadow: 0px 8px 25px 2px #151b25;
}

.elevations-basic-elevation-06-24-dp {
	box-shadow: 0px 12px 40px 2px #151b25;
}

.elevations-basic-workspace-sheet {
	box-shadow: 0px -3px 12px #151b25;
}

.elevations-cards-card-resting {
	box-shadow: 2px 4px 12px #000000;
}

.elevations-cards-card-hover {
	box-shadow: 2px 4px 16px #000000;
}

.elevations-cards-card-dark-resting {
	box-shadow: 2px 4px 12px #000000;
}

.elevations-cards-card-dark-hover {
	box-shadow: 2px 4px 16px #000000;
}

.elevations-stripe-elevations-select-menu {
	box-shadow:
		0px 7px 14px #32325d,
		0px 3px 6px #32325d;
}

.elevations-stripe-elevations-dialog {
	box-shadow:
		0px 3px 6px #000000,
		0px 7px 14px #414552;
}

.elevations-stripe-elevations-sheet {
	box-shadow:
		0px 15px 35px #3c4257,
		0px 5px 15px #000000;
}

.elevations-stripe-elevations-elevation-01 {
	box-shadow: 0px 6px 24px -18px #32325d;
}

.elevations-stripe-elevations-elevation-02 {
	box-shadow:
		0px 36px 61px -54px #32325d,
		0px 8px 46px -18px #000000;
}

.elevations-stripe-elevations-elevation-03 {
	box-shadow:
		0px 50px 100px -20px #32325d,
		0px 30px 60px -30px #000000;
}

.content-card-xsmall {
	box-shadow: var(--card-shadow-xsmall);
}
.content-card-small {
	box-shadow: var(--card-shadow-small);
}
.content-card-medium {
	box-shadow: var(--card-shadow-medium);
}
.content-card-large {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	padding: 32px 48px;
	background-color: var(--surface-light-white);
	border-radius: 8px;
	border-top: solid 8px var(--brand-primary-highlight);
	box-shadow: var(--card-shadow-large);
}
.content-card-xlarge {
	box-shadow: var(--card-shadow-xlarge);
}

.bg-white {
	background-color: var(--surface-light-white);
}
.bg-pale {
	background-color: var(--surface-light-pale);
}
.bg-light {
	background-color: var(--surface-light-light);
}
.bg-primary-200 {
	background-color: var(--surface-dark-primary-200);
}
.bg-primary-400 {
	background-color: var(--surface-dark-primary-400);
}
.bg-primary-500 {
	background-color: var(--surface-dark-primary-500);
}
.bg-dark {
	background-image: var(--surface-gradient-dark);
}

.card--shadowXSmall {
	box-shadow: var(--card-shadow-xsmall);
}
.card--shadowSmall {
	box-shadow: var(--card-shadow-small);
}
.card--shadowMedium {
	box-shadow: var(--card-shadow-medium);
}
.card--shadowLarge {
	box-shadow: var(--card-shadow-large);
}
.card--shadowXLarge {
	box-shadow: var(--card-shadow-xlarge);
}
.card--shadowLargeInset {
	box-shadow: var(--card-shadow-large-inset);
}
/* END Fancy Drop Shadows */

.bg-none {
	background: none;
}
.bg-light {
	background-color: var(--bg);
}

.sds-max-width {
	max-width: 1080px; /*1280px;*/
}

hr {
	/*get rid of side wierdness */
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
}

/*normal page header*/
.page-title {
	/*font-size: 20pt;*/
	font-size: 36pt;
	font-weight: 600;
	color: var(--color-headline);
	padding: 35px 10px 15px 10px;
	text-align: center;
}

/*page header for member pages (with left menu)*/
.page-title-app {
	font-size: 36pt;
	font-weight: 500;
	color: var(--color-headline);
	padding: 15px 10px 5px 10px;
	text-align: center;
}

.headline-txt {
	font-size: 36pt;
	font-weight: 600;
	margin-bottom: 15px;
	margin-top: 20px;
	text-align: center;
	color: var(--color-headline);
	padding-left: 30px;
	padding-right: 30px;
	line-height: 1.1;
}

.subheading-txt {
	font-size: 22pt;
	font-weight: 500;
	margin-bottom: 0px;
	margin-top: 20px;
	color: var(--color-subheading);
	line-height: 1.2;
	margin-bottom: 16px;
	line-height: 1.1;
	padding-left: 30px;
	padding-right: 30px;
}

/*heading for v-dialogs*/

.dialog-heading {
	font-size: 20pt;
	font-weight: 500;
	color: var(--color-headline);
}

.blue-heading {
	color: var(--color-headline);
	text-align: center;
	font-weight: 500;
	font-size: 18pt;
}

/* todo: track down other definitions of this class */
.content-container-bg {
	background-color: var(--color-bg);
	padding: 16px;
	width: 100%;
	/*margin: 10px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - 344px);
	overflow: auto;
}

.content-container-centered {
	max-width: var(--max-width);
	width: 100%;
}

.content-container-sm {
	/*max-width: var(--max-width);*/
	max-width: 800px;
	width: 100%;
}

.centered-flex-column {
	/*background-color: white;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

.white-bg {
	background-color: white;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}
.flex-centered-content {
	display: flex;
	justify-content: center;
}

.flex-centered-content-col {
	display: flex;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bg-full-height {
	min-height: calc(100vh - 284px) !important;
}

html {
	overflow-y: auto !important;
	scroll-behavior: smooth;
}

.v-application {
	font-family: 'Inter', 'Libre Franklin', 'Helvetica Neue', Arial, sans-serif;
	/*-apple-system, system-ui, BlinkMacSystemFont !important;*/
}

.v-btn {
	letter-spacing: 0px;
	font-size: 15px;
	border-radius: 40px;
	box-shadow: none;
	text-transform: none;
}

.button_primary {
	background-color: var(--brand-primary-highlight) !important;
}
.v-btn__content {
	font-size: 15px !important;
	font-weight: 600 !important;
}

.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
	background-color: none;
	color: var(--text-white);
}

.theme--light.site-header-nav-item--link {
	height: 33px !important;
	background: none;
	font-size: 15px;
	font-weight: bold;
	color: var(--nav-color);
}
.theme--light.site-header-nav-item--link:hover {
	color: var(--nav-hover-color);
	opacity: var(--nav-hover-opactiy);
}

.theme--dark.v-btn {
	background-color: transparent;
}
.theme--dark.v-btn > span {
	font-size: 15px;
	font-weight: bold;
	line-height: 1.6;
	letter-spacing: 0.2px;
	color: var(--text-white);
}

a {
	text-decoration: none;
}

.v-menu__content {
	max-width: 100% !important;
}

/**************related to scroll track *************/

/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #bcbcbc;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #6e6e6e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #3366cc;
}

.column-layout2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--row-gap-large);
}

.column-layout3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--row-gap-medium);
}

.column-row-gap-xsmall {
	row-gap: var(--row-gap-xsmall);
}
.column-row-gap-small {
	row-gap: var(--row-gap-small);
}
.column-row-gap-normal {
	row-gap: var(--row-gap-normal);
}
.column-row-gap-large {
	row-gap: var(--row-gap-large);
}

.dot {
	width: 24px;
	height: 24px;
	border-radius: 24px;
	background-color: var(--brand-accent-500);
	text-align: center;
	line-height: 24px;
	color: var(--text-white);
}
.dot.full-width {
	width: 100%;
	height: 2px;
}

/* Find out why "ismobile" isn't working on ourMission.vue */
/* Media query for tablets and smaller devices */
@media (max-width: 768px) {
	.column-layout2,
	.column-layout3 {
		grid-template-columns: 1fr;
		row-gap: var(--row-gap-medium);
	}
	h1 {
		/*font-size: 2.1var(--rt-medium);*/
		/*line-height: 48px;*/
	}
	.page-title {
		/*font-size: 20pt;*/
		font-size: 26pt;
		font-weight: 600;
		color: var(--color-headline);
		padding: 35px 10px 15px 10px;
		text-align: center;
	}

	/*page header for member pages (with left menu)*/
	.page-title-app {
		font-size: 26pt;
		font-weight: 500;
		color: var(--color-headline);
		padding: 15px 10px 5px 10px;
		text-align: center;
	}

	.headline-txt {
		font-size: 26pt;
		font-weight: 500;
		color: var(--color-headline);
	}

	/*heading for v-dialogs*/

	.dialog-heading {
		font-size: 20pt;
		font-weight: 500;
		color: var(--color-headline);
	}

	.blue-heading {
		color: var(--color-headline);
		text-align: center;
		font-weight: 500;
		font-size: 16pt;
	}

	.v-dialog {
		margin: 0;
	}

	.section-container.angled-section,
	.section-container.angled-section-bottom {
		clip-path: none;
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}

/*---------- New Styles 07-16-2024 ----------*/

.bread-crumb-title {
	color: var(--color-txt-blue-light);
	font-weight: 600;
	font-size: 14pt;
	margin-top: 50px;
}

.lm-title {
	font-size: 32pt;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: left;
	color: var(--color-headline);
	/*padding-left: 30px;*/
	/*padding-right: 30px;*/
	line-height: 1.1;
}

.lm-heading {
	font-size: 18pt;
	font-weight: 500;
	margin-bottom: 0px;
	margin-top: 20px;
	color: var(--color-subheading);

	line-height: 1.2;
	margin-bottom: 16px;
	line-height: 1.1;
}

.section {
	margin-top: 15px;
}

.centered-image {
	padding-top: 10px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-style: italic;
	text-align: center;
}

.bold-line {
	font-weight: 600;
	font-size: 14pt;
}

.bold-txt {
	font-weight: 700;
}

.box-txt-container {
	/*margin-top: 20px;*/
	/*margin-bottom: 20px;*/
	padding-top: 20px;
	padding-bottom: 10px;
}

.box-txt {
	/*margin-top: 20px;*/
	/*margin-bottom: 20px;*/
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

ol,
ul {
	margin-bottom: 15px;
}

.section a {
	color: #2c76bc;
	/*color: red;*/
}

.br {
	display: block;
	margin-top: 10px;
	line-height: 22px;
}

/*----------Styles by Rob 07-16-2024----------------*/

.home {
	background-color: transparent; /*var(--color-bg);*/
	position: relative;
}

.image-bg {
	background-size: cover;
	background-position: center;
}

.content-container {
	max-width: 1080px; /*1280px;*/
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.card-title {
	font-size: 26px;
	font-weight: 300;
	line-height: 36px;
	color: #0a2540;
}

.main-heading {
	height: 400px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 40px;
	/*background-image: url('../assets/images/content/math.png')*/

	/*background-size: cover;*/
	/*!*background-size: auto 100%;*!*/
	/*!*background-size: 100% auto;*!*/
	/*background-position: center;*/
}

.fold-content {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	max-width: 1080px;
	/*border: 1px solid red;*/

	position: relative;
	z-index: 0;
}

.fold-text {
	font-size: 30pt;
	margin-top: 50px;
	text-align: center;
}

/************ section 1 box **********************************/

.txt-box {
	font-size: 18px;
	font-weight: 400;
	color: #425466;
	line-height: 28px;
	letter-spacing: 0.2px;
	padding-right: 10px;
	/*max-width: 500px;*/
}

.txt-box-side {
	margin-top: 30px;
	font-size: 15px;
	font-weight: 400;
	color: #425466;
	line-height: 24px;
	letter-spacing: 0.2px;
	border-left: 2px solid var(--text-highlight);
	padding-right: 10px;
	padding-left: 20px;
	/*max-width: 500px;*/
}

.text-box-indent {
	padding-left: 1rem;
}

.b1-heading {
	font-size: 18px;
	font-weight: 700;
	color: var(--color-txt-blue-dark);
}

.small-header-line {
	font-size: 18px;
	font-weight: bold;
	color: var(--text-highlight);
}

.small-header-line.on-dark {
	color: var(--text-white);
}

.medium-header-line {
	font-size: 26px;
	font-weight: 700;
	line-height: 36px;
	color: #0a2540;
	/* #1D1D1FFF */
}

.large-header-line {
	font-size: var(--rt-h1);
	font-weight: 700;
	line-height: 68px;
	letter-spacing: -2.12px;
	color: var(--color-txt-dark);
	max-width: 900px;
}

.b1-heading.ismobile {
	font-size: 18px;
	font-weight: 700;
}

.small-header-line.ismobile {
	font-weight: bold;
	color: var(--color-txt-blue-dark);
}

.large-header-line.ismobile {
	font-weight: 600;
	color: var(--color-txt-blue-dark);
	font-size: 38px;
	line-height: 48px;
	letter-spacing: -0.2px;
	max-width: 900px;
}

/*
ul {
  list-style-type: &#x27A1;
}
*/
ul.bullet_check {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.bullet_check li {
	display: flex;
	gap: 8px;
	align-items: flex-start;
	margin-bottom: 24px;
	line-height: 24px !important;
}
ul.bullet_check li::before {
	width: 24px;
	height: 24px;
	display: flex;
	content: url('../assets/images/icons/circle-check-solid.svg');
}

ul li,
.small-content {
	font-weight: 400;
	color: inherit;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.2px;
}
.xsmall-content {
	font-weight: 400;
	color: inherit;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.2px;
}

/* ROB This Hero Stripe BG might be the one! */
/* Hero Section Styles */
main.v-main {
	/*margin-top: -68px;*/
}
.home-hero {
	margin-top: -68px;
	padding-top: 116px;
	padding-bottom: 128px;
	min-height: 715px;
}
.hero-container {
	position: relative;
	top: 346px;
}
.hero-above {
	position: relative;
}
.hero-under {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.hero-under-blended {
	mix-blend-mode: color-burn;
}
.hero-under-overlay {
	opacity: .2;
}
/* Skewed Background */
.hero-section-bg {
    content: '';
    position: absolute;
    top: -66vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: var(--gradient-hero);
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    z-index: 0;
    background-position: left;
	aspect-ratio: auto 1716 / 1200;
	--transformOriginX: calc(var(--gutterWidth)* 0.8);
	}

/* ROB Stripe BG Gradient */
.home {
	z-index: 0;
}
.v-app-bar {
	z-index: 999;
}
.gradient-canvas {
	position: absolute;
	z-index: -1;
	top: -128px;
	width: 100%;
	-webkit-transform: skewY(-12deg);
	-ms-transform: skewY(-12deg);
	transform: skewY(-12deg);
	--section-gap: 24px;
	-webkit-transform-origin: calc(var(--section-gap) * 0.8) 0;
	-ms-transform-origin: calc(var(--section-gap) * 0.8) 0;
	transform-origin: calc(var(--section-gap) * 0.8) 0;
	background-image: var(--gradient-hero);
}
/* END */

.angled-section {
	-webkit-clip-path: polygon(0  200px, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 200px, 100% 0, 100% 100%, 0 100%);
	margin-top: -180px;
	padding-top: 200px;
	background-image: var(--surface-gradient-dark);
}
.angled-section-bottom {
	/*
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 400px, 0 100%);
  clip-path: polygon(0 0%, 100% 0, 100% 32vh, 0 100%);
  margin-top: 0;
  padding-bottom: 128px;
  background-image: var(--surface-gradient-basic);
  */

	background-image: linear-gradient(
		169deg,
		#054896 25%,
		#0db2fa 75%,
		#ffffff 0
	);
	background-position: right;
	background-size: 250%;
	padding-bottom: 164px;
}
.angled-section-bottom-push {
	margin-bottom: 192px;
}

.angled-section-bottom.light {
	background-image: linear-gradient(
		169deg,
		var(--surface-pale) 25%,
		var(--surface-pale) 75%,
		#ffffff 0
	);
}
.angled-section-bottom.magenta {
	background-image: linear-gradient(
		169deg,
		#054896 0%,
		#2c3795 50%,
		#ed008c 100%
	);
	background-position: right;
	background-size: 250%;
	padding-bottom: 164px;
}

.section-container.angled-section.ismobile {
	clip-path: none;
	/*polygon(0 80px, 100% 0, 100% 100%, 0 100%);*/
	margin-top: -80px;
	padding-top: 80px;
	margin-top: 0;
	padding-top: 0;
}

.section-layout:has(.angled-ribbon) {
	padding-bottom: 350px;
}
.angled-ribbon {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 400%; /*100%;*/
	height: 250px;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-transform: skewY(var(--gradientAngle));
	transform: skewY(var(--gradientAngle));
	z-index: 0;
	overflow-y: hidden;
}

#gradient-canvas-sds1 {
	width: 100%;
	height: 100%;
	--gradient-color-1: #00ad8f;
	--gradient-color-2: #00ace1;
	--gradient-color-3: #08e2ff;
	--gradient-color-4: #2c3795;
	background-image: var(--gradient-sds-1);
}
#gradient-canvas-sds2 {
	width: 100%;
	height: 100%;
	background-image: var(--gradient-sds-2);
}
#gradient-canvas-sds3 {
	width: 100%;
	height: 100%;
	background-image: var(--gradient-sds-3);
}
#gradient-canvas-sds4 {
	width: 100%;
	height: 100%;
	--gradient-color-1: #2c3795;
	--gradient-color-2: #08e2ff;
	--gradient-color-3: #00ace1;
	--gradient-color-4: #00ad8f;
	background-image: var(--gradient-sds-4);
}
#gradient-canvas-basic {
	width: 100%;
	height: 100%;
	background-image: var(--gradient-basic);
}
.section-container.product-hero-section > img {
	background: none;
	box-shadow: var(--card-shadow-large);
	width: 100%;
	height: auto;
	border-radius: 24px;
}

/*
.gradient {
  overflow: hidden;
  background-repeat: repeat-y;
  background: radial-gradient(92.71% 92.71% at 7.59% 128.39%, #FFEEC2 0%, rgba(255, 238, 194, 0.21) 60.42%, rgba(194, 233, 255, 0) 100%), radial-gradient(49.19% 88.28% at 27.01% -13.54%, rgba(93, 227, 236, 0.73) 0%, rgba(93, 227, 236, 0.1679) 59.78%, rgba(93, 227, 236, 0) 100%), radial-gradient(114.51% 155.86% at 90.18% 89.06%, rgba(254, 75, 139, 0.7) 0%, rgba(254, 75, 139, 0) 100%), linear-gradient(237.32deg, #454ABB 18.14%, rgba(69, 74, 187, 0.76) 31.3%, rgba(69, 74, 187, 0.39) 49.35%, rgba(91, 196, 230, 0) 76.77%), radial-gradient(118.75% 118.75% at 3.35% 25.78%, #308EE6 0%, rgba(48, 158, 230, 0) 73.91%, #F2F5FA); background-blend-mode: normal,hard-light,normal,darken,normal,normal; filter: blur(0px);
}
*/

/*********** related to full width images**********************************************/
.img_full_width {
	width: 100%;
	margin-left: -10%;
}

.img_full_width.mobile_md {
	width: 100%;
	margin-left: -10%;
}

.img_full_width_container {
	width: 130%;
}

/************ fold 2 box **********************************/

/*.fold2-container {*/
/*   display: flex;*/
/*   !*position: absolute;*!*/
/*   width: 100%;*/
/*   justify-content: center;*/
/*   margin-top: -50px;*/
/*   padding-bottom: 50px;*/
/*   padding-left: 20px;*/
/*   padding-right: 20px;*/

/*}*/

/*.fold2 {*/
/*   !*max-width: var(--max-width);*!*/
/*   max-width: 1000px;*/
/*   background-color: white;*/
/*   width: 100%;*/
/*   min-height: 200px;*/
/*   display: flex;*/
/*   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

/*   z-index: 1;*/

/*}*/

/*.member-lookup-box {*/
/*   height: 100%;*/
/*   width: 500px;*/
/*   padding: 15px;*/
/*   background-image: linear-gradient(to bottom, #60aee0, #2567b0);*/
/*}*/

/*.fold2-label {*/
/*   color: white;*/
/*   !*font-size: 14pt;*!*/

/*   font-size: 16pt;*/
/*   font-weight: 600;*/
/*   !*padding-left: 20px;*!*/
/*   !*padding-right: 10px;*!*/
/*}*/

/*.learn-more-btn {*/
/*   font-size: 16pt;*/
/*   font-weight: 600;*/
/*   color: var(--color-headline);*/
/*   padding-left: 20px;*/
/*   padding-right: 10px;*/
/*   letter-spacing: -0.1px;*/

/*}*/

/*div >>> .v-btn {*/
/*   border-radius: 0px;*/

/*}*/

/*.triangle {*/
/*   --width: 5px;*/
/*   width: 0;*/
/*   height: 0;*/
/*   border-top: var(--width) solid transparent;*/
/*   border-bottom: var(--width) solid transparent;*/
/*   border-left: 7px solid var(--text-white);*/
/*   margin-top: 2px;*/
/*}*/

/*.triangle-blue {*/
/*   --width: 5px;*/
/*   width: 0;*/
/*   height: 0;*/
/*   border-top: var(--width) solid transparent;*/
/*   border-bottom: var(--width) solid transparent;*/
/*   border-left: 7px solid #2d76ba;*/
/*   margin-top: 2px;*/
/*}*/

/*****matrix section *********************************************/
.row.gap-32 {
	flex-wrap: nowrap;
	gap: 32px;
}

.section-container {
	position: relative;
	display: flex;
	justify-content: center;
	padding-left: 20px;
	padding-right: 20px;
	overflow-x: hidden;
}

.section-inner-container {
	position: relative;
	max-width: var(--max-width);
	width: 100%;
	padding: 128px 48px; /*80px 50px 30px 50px;*/
}

.section-inner-container.ismobile {
	padding: 72px 10px; /*50px 10px 30px 10px;*/
}

@media (min-width: 1112px) {
	.section-container,
	.section-layout {
		padding-left: 16px;
		padding-right: 16px;
	}
	.section-inner-container {
		max-width: var(--max-width);
		width: 100%;
		padding: 128px 16px;
	}
}

@media (max-width: 700px) {
	.section-inner-container {
		padding: 72px 10px; /*50px 10px 30px 10px;*/
	}
}

.flex-centered {
	display: flex;
	justify-content: center;
}

/**************** FAQ *************************************************/

/*FAQ*/

.faq-header {
	font-weight: 500;
	font-size: inherit;
}

.faq-body {
	padding-top: 0px;
	padding-bottom: 20px;
}

.learn-more-btn-container {
	padding-top: 5px;
}

.learn-more-txt {
	color: #2d76ba;
	text-decoration: none;
}

a.learn-more-txt:focus {
	outline: none;
	background-color: #c6d8ff;
}

/* mission section */

.flex-container {
	display: flex;
	justify-content: center;
	font-size: 17pt;
}

.mission-collapsed {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.9s ease-out;
}

.mission-show {
	max-height: 1000px;
	overflow: hidden;
	transition: max-height 0.9s ease-out;
}

/* for three column section*/

.column-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 40px 20px 40px 20px;
}

.box-header {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.box-button {
	margin-top: 20px;
}

/*social*/
.social-container {
	max-width: 400px;
	width: 100%;
}

.social-bar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 10px 5px 10px;
	margin-top: 5px;
	color: white;
	font-weight: bold;
	font-size: 11pt;
}

/*get rid of link decoration for social lilnks*/
div.social-container > a {
	text-decoration: none;
}
