* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
	font-family: var(--font-family);
	font-size: var(--font-size-base);
}

.card {
	border: 1px solid var(--border-light);
	border-radius: 8px;
	padding: 16px 12px;
  transition: box-shadow 0.2s;
}

.card:hover {
  box-shadow: var(--card-shadow-small);
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.place-items-center {
  place-items: center;
}

.text-center {
  text-align: center;
}