$font-brand: 'Euronism';
$font-heading: 'Electrolize', sans-serif;
$font-text: 'Lato', sans-serif;

$font-size-xxl: 60px;
$font-size-xl: 48px;
$font-size-l: 40px;
$font-size-m: 32px;
$font-size-s: 24px;
$font-size-xs: 14px;
$font-size-xxs: 10px;
